<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Classifier</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/libs")

    @RenderSection("styles", required: false)

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sport classifier", "Index", "Home", null, new { @class = "navbar-brand" })

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">@Html.ActionLink("Home", "Index", "Home")</li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classification data<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                               <li class="page-scroll">@Html.ActionLink("Show training data", "TrainingData", "Home")</li>
                                <li class="page-scroll">@Html.ActionLink("Show Test data", "TestData", "Home")</li>
                                <li class="page-scroll">@Html.ActionLink("All test results", "ListAllTestResults", "Home")</li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                    

                    <li class="page-scroll">@Html.ActionLink("Crawl Options", "CrowOptions", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="wrapper">
        @RenderBody()
    </div>

    <!-- Footer -->
  

    @*<div id="calendar"></div>*@

    @Scripts.Render("~/bundles/Kendo")
    @Styles.Render("~/Content/Kendo")
    @RenderSection("scripts", required: false)
    <script>

        //test if kendo works
        //$(document).ready(function () {
        //    // create Calendar from div HTML element
        //    $("#calendar").kendoCalendar();
        //});
    </script>

</body>
</html>
