@using SportClassifier.Web.Infrastructure.Paging
@model SportClassifier.Web.Infrastructure.Paging.IPagedList<SportClassifier.Web.Models.NewsItemViewModel>



<div class="grid">
    @{foreach (var news in Model)
    {

        <div class="gridbox" style="background-image:url('@news.MainPic')" onclick="showNews(@news.Id,event)">
            <div class="overlay box">
                <a href="#" class="h2">@news.Title</a>
                <span class="hue bottomleft">@news.Categories.FirstOrDefault().BaseCategory</span>
            </div>


            @if (ViewData["ShowClassifyBtn"] != null && ((bool)ViewData["ShowClassifyBtn"]) == true)
            {
                <div class="classify-result" id="target@(news.Id)">No category</div>
                using (Ajax.BeginForm("ClassifyArticle", "Home", new { articleId = news.Id },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "target" + news.Id
                }))
                {
                    <input type="submit" value="Classify" class=" btn start-classification" />
                }
            }

        </div>
    }

    }
</div>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>

<script>
    function showNews(newsId, event) {
        if (!$(event.target).hasClass("start-classification")) {
            window.location.href = "/home/getNews/" + newsId;
        }
        
    }
</script>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
